!!!
%html
  %head
    %title words
    %link{:rel => 'stylesheet', :href => '/style.css'}

  %body

    %h1.editing
      %a.prev{:href => @prev[:url]} &larr;
      Today
      %a.next{:href => @next[:url]} &rarr;
      %a.home{:href => '/list'} ☰

    #container
      %pre
        %span#the_span
        %br
      %textarea.mousetrap#the_area{:autofocus => "autofocus"}= @words[:raw]

      #meta
        %span#count #{@words[:words]}
        %span#message

    .padding

  %script{:src => 'jquery.min.js'}
  %script{:src => 'jquery.simplyCountable.js'}
  %script{:src => 'jquery.caret.js'}
  %script{:src => 'mousetrap.min.js'}
  %script
    var desiredWordCount = #{@target};
  %script{:src => 'core.js'}
