!!!
%html
  %head
    %title List
    %link{:rel => 'stylesheet', :href => '/style.css'}

  %body

    %h1
      Words
      %a.settings{:href => '/settings'} &#9881;

    %p.total
      Total:
      = @words.map {|w| w[:words] }.inject(:+)

    %ul.list
      - for word in @words.reverse
        %li
          - if word[:date] == Date.today
            %a{:href => '/'} Today

          - else
            %a{:href => word[:url]}
              = word[:date].strftime("%B %-d, %Y")

          %span.count= word[:word_str]
