!!!
%html
  %head
    %title List
    %link{:rel => 'stylesheet', :href => '/style.css'}

  %body

    %h1
      Words
      %a.settings{:href => '/settings'} &#9881;

    - for calendar in Words.calendars
      %table.calendar
        %thead
          %tr.month
            %td= calendar.month.to_s
          %tr.days
            - calendar.day_names.each do |name|
              %td= name.to_s[0]
              
        %tbody
          - calendar.weeks.each do |week|
            %tr
              - week.each do |day|
                %td{:class => day.classes}
                  %a{:href => day.words.url}= day.number

    .padding