!!!
%html
  %head
    %title Settings
    %link{:rel => 'stylesheet', :href => '/style.css'}

  %body

    %h1
      Settings
      %a.home{:href => '/list'} ☰

    %form{:method => 'post'}
      %label{:for   => 'loc'} Words location
      %input{:type  => 'text',
             :name  => 'location',
             :id    => 'loc',
             :value => @settings['location']}

      %label{:for   => 'target'} Word target
      %input{:type  => 'text',
             :name  => 'target',
             :id    => 'target',
             :value => @settings['target']}

      %label{:for   => 'font'} Font
      %input{:type  => 'text',
             :name  => 'font',
             :id    => 'font',
             :value => @settings['font']}

      %input{:type => 'submit', :value => 'Save'}
