!!!
%html
  %head
    %title Settings
    %link{:rel => 'stylesheet', :href => '/styles.css'}
    
  %body
    
    %h1
      Settings
      %a.home{:href => '/list'} ☰
      
    %form{:method => 'post'}
      %label{:for   => 'loc'} Words location
      %input{:type  => 'text', 
             :name  => 'location', 
             :id    => 'loc',
             :value => @settings['location']}
             
      %label{:for   => 'target'} Word target
      %input{:type  => 'text',
             :name  => 'target',
             :id    => 'target',
             :value => @settings['target']}
      
      %input{:type => 'submit', :value => 'Save'}