html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font: @@FONT@@;
    max-width: 700px;
    width: auto;
    margin: 0 auto;
    padding: 1.5em;
    position: relative;
}

/* HEADER/NAV --------------------------------------------- */

h1 {
  margin: 3em 0 2em;
  font-size: 28px;
  font-weight: bold;
}

.prev, .next, .home, .settings {
  text-decoration: none;
  color: silver;
  -webkit-font-smoothing: antialiased;
}

.prev {
  position: absolute;
  left: -3.3em;
  width: 4em;
  text-align: right;
}

@media all and (max-width: 820px) {
  .prev {
    position: relative;
    left: 0;
  }

  .home, .settings {
    margin-right: 1em;
  }
}

.next {
  position: absolute;
  margin-left: .5em;
  width: 4em;
  text-align: left;
}

.home {
  position: absolute;
  right: 0;
}

.settings {
  position: absolute;
  right: 0;
  font-weight: bold;
  font-size: 38px;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* LIST ----------------------------------------------------- */

.list {
  padding: 0 0 2em;
  list-style: none;
}

.list a {
  color: black;
  display: inline-block;
  width: 230px;
}

.list a:hover {
  text-decoration: none;
}

.list .count {
  margin-left: .2em;
  color: silver;
}

/* CONTENT -------------------------------------------------- */

#container > textarea, #container > pre, .content {
  font: @@FONT@@;
}

.content {
  margin: 3em 0;
}

.content.empty {
  color: silver;
}

textarea, pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.padding {
  height: 10em;
}

#meta {
  font-size: 18px;
  font-family: 'Courier New';
  position: absolute;
  bottom: -3em;
  right: 0em;
  color: silver;
}

#count.passed, #message {
  color: hsl(100, 50%, 60%);
  text-decoration: underline;
}

/* TEXTAREA ----------------------------------------------- */

#container {
  margin: 3em auto;
  position: relative;
  border: none;
  background: transparent;
}

#container > textarea,
#container > pre {
  padding: 0;
  background: transparent;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}

#container > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 100px;
}

#container.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

#container > pre {
  display: none;
}

#container.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

/* FORMS --------------------------------------------- */

form label, form input {
  font: @@FONT@@;
  position: relative;
  display: block;
}

form label {
  font-size: 16px;
}

form input {
  font-size: 23px;
  width: 500px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 1em;
}

form input[type=submit] {
  margin-top: 3em;
  font-size: 18px;
  width: 100px;
  background: hsl(100, 50%, 55%);
  border: 1px solid hsl(100, 50%, 50%);
  -webkit-border-radius: 3px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
  padding: .3em;
}

form input[type=submit]:hover {
  background: hsl(100, 50%, 50%);
}


/* CALENDAR --------------------------------------------- */

.calendar_container {
  display: block;
  height:  440px;
  width: 3276px;
  list-style: none;
  padding-left: 0;
}

.calendar_container li {
  float: left;
}

.calendar {
  width: 368px;
  border: 2px solid black;
  border-spacing: 0;
  margin-bottom: 30px;
  margin-right: 30px;
}

.calendar thead {
  background: black;
  color: white;
}

.calendar .month td {
  position: absolute;
  text-transform: uppercase;
  font-size: 19px;
  width: 368px;
  margin-top: 9px;
  text-align: center;
}

.calendar tbody td, .calendar .days td {
  height: 50px;
  width: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.calendar .days td {
  font-size: 12px;
  border-top: 5px solid black;
  border-bottom: 2px solid black;
  padding-top: 45px;
  height: 20px;
  line-height: 12px;
}

.calendar tbody tr:last-child td {
  border-bottom: none;
}

.calendar td a {
  color: black;
  text-decoration: none;
}

.calendar td.over a {
  color: #ccc;
}

.calendar td.passed a {
  color: green;
}

.calendar td.missed {
  text-decoration: line-through;
}

.calendar td.today:after {
  content: '';
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid red;
  position: absolute;
  margin-left: -34px;
  margin-top: -3px;
  z-index: -100;
}
